
.body {
    background-color: rgb(167, 227, 249);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px; 
    color: rgb(27, 27, 70);
    font-family:Arial, Helvetica, sans-serif;
}
   
.common {
    border: solid color #555555 2px;
    position: absolute;
   
}
.header {
    background-color: rgb(167, 227, 249);
    top: 5px;
    left: 5px;
    right: 5px;
    height: 475px;
    z-index: 2;
    border-bottom: solid 1px #555555;
    font-size: 23px;
    color: rgb(26, 42, 163);
    font-weight: thin;
    font-family:'Gill Sans', 'Gill Sans MT','Calibri', 'Trebuchet MS', sans-serif;
}

.mainbody {
    background-color: rgb(167, 227, 249);
    top: 480px;
    left: 5px;
    right: 5px;
    height: 1200px;
    padding-right: 5px;
    border-bottom: solid 1px #555555;
    color: rgb(13, 13, 104);
    font-family: Georgia, 'Times New Roman', Times, serif;
} 

.footer {
   top: 2020px;
   background-color: rgb(167, 227, 249);
   left: 5px;
   right: 5px;
   border-bottom: solid grey;
   text-align: center;
   text-align: center;
   font-size: 15px;
   color: rgb(27, 27, 70);
   font-weight: thin;
   font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}



